-# = hidden_field_tag :direction, params[:direction]
-# = hidden_field_tag :sort, params[:sort]
= will_paginate @diamonds

%table
  %tr
    %th Shape
    %th Size
    %th Color
    %th Clarity
    %th Cut
    %th Polish
    %th Sym
    %th Flour
    %th Number of results
    %th Rap percentage

  - @diamonds.each do |diamond|
    %tr
      %td= diamond.shape
      %td= diamond.size
      %td= diamond.color
      %td= diamond.clarity
      %td= diamond.cut
      %td= diamond.polish
      %td= diamond.sym
      %td= diamond.flour
      %td= diamond.number_of_results
      %td= diamond.rap_percentage

%br

= will_paginate @diamonds


