%h1 Search diamonds price

%p
  = link_to 'Download excel price list', price_path 

= semantic_form_for(@search, url:diamonds_path,as: :search, html:{id:'diamonds_search', :onsubmit=>'return updateSearch();'}, method:'get') do |f|
  - ranges = Diamond.ranges
  - ranges.each_slice(4) do |h|
    - current_ranges = Hash[h]
    .row
      - current_ranges.each do |key, value|
        .span3
          = f.input key, as: :select, collection: options_for_select(value.push('All'),'All'), :include_blank => false, :input_html =>{onchange: "javascript: updateSearch();"}
        - if key == ranges.keys.last
          .span3
            =f.input :sort_by, as: :select, collection: options_for_select(Hash[Diamond.search_by_options.collect{|k| [k.to_s.titleize,k]}]), include_blank: false, :input_html => {onchange: "javascript: updateSearch();"}
            .boolean.input.optional.control-group#search_asc_input
              %input{name:"search[asc]",type:"hidden", value:"0"}
              .controls
                %label{class:'checkbox', for:"search_asc", onchange:"javascript: updateSearch();"}
                  %input{id:"search_asc", name:"search[asc]", onchange:"javascript: updateSearch();", type:"checkbox", value:"1"} Asc

  = f.action :submit, label:'Search', :button_html => {:class => "btn btn-primary"}

  = image_tag 'loading.gif', id:'loadingBar', style:'display:none;'
  %div#diamonds
    = render 'diamonds'

