%h1 Search diamonds price

%p
  = link_to 'Download excel', price_path 

= semantic_form_for(@search, url:diamonds_path,as: :search, html:{id:'diamonds_search', :onsubmit=>'return updateSearch();'}, method:'get') do |f|
  .row
    - Diamond.ranges.each do |key, value|
      .span3
        = f.input key, as: :select, collection: options_for_select(value.push('All'),'All'), :include_blank => false, onchange: "javascript: updateSearch();"
  = f.action :submit, label:'Search', :button_html => {:class => "btn btn-primary"}

  %div#diamonds
    = render 'diamonds'

